@page
@using AppTreinoCarlos.Utils
@using System.Collections.Generic
@model AppTreinoCarlos.Pages.AvaliaTreinoModel
@using AppTreinoCarlos.Models
@{
    List<TreinoAtletas> Avalia = (List<TreinoAtletas>)ViewData["Avaliacoes"];

    string idTreinoInstrutor = ViewData["idTreinoInstrutor"].ToString();
    string idInstrutor = ViewData["idInstrutor"].ToString();

}

<html>
<head>

    <link rel="stylesheet" href="~/img/instagrm_ico.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/img/instagram_ico">

    <style>
        input {
            margin: 5px;
            border: solid 1px;
            width: 65px;
            border-color: black;
        }

        .div1 {
            width: 50%;
            display: inline;
            float: left;
        }

        .div2 {
            width: 50%;
            display: inline;
            float: right;
        }

        .titulo {
            background-color: #7e3af2;
            color: white;
            padding: 8px;
            border-radius: 50px;
            font-size: 25px;
            font-weight: 700;
            margin-left: auto;
            margin-right: auto;
            width: 90%;
        }

        .estrelas input[type=radio] {
            display: none;
        }

        .estrelas label i.fa:before {
            content: '\f005';
            color: #FC0;
        }

        .estrelas input[type=radio]:checked ~ label i.fa:before {
            color: #CCC;
        }

        .estrelaAvalia {
            display: flex;
            justify-content: center;
        }

        img {
            display: inline;
        }
    </style>
</head>

<body style="display: flex; ">
    <br>

    <main class="h-full pb-16 overflow-y-auto">
        <div class="container px-6 mx-auto grid">
            <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
                Avaliar Treino
            </h2>

            <table class="w-full whitespace-no-wrap">
                <thead>
                    <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                        <th class="px-4 py-3">Atletas</th>
                        <th class="px-4 py-3" style="text-align:center">QTDE</th>
                        <th class="px-4 py-3" style="text-align: center;">Avaliar</th>
                        <th class="px-4 py-3"></th>
                    </tr>
                </thead>

                @if (Avalia != null)
                {
                    @foreach (TreinoAtletas TableAvaliar in Avalia)
                    {
                        <tr class="text-gray-700 dark:text-gray-400">
                            <td>
                                <div class="flex items-center text-sm">
                                    <!-- ICONE DO ATLETA -->
                                    <div class="relative hidden w-8 h-8 mr-3 rounded-full md:block">
                                        <span class="material-icons"
                                              style="font-size: 35px; display: flex; justify-content: center;">
                                            account_circle
                                        </span>
                                        <div class="absolute inset-0 rounded-full shadow-inner" aria-hidden="true">
                                        </div>
                                    </div>
                                    <div>
                                        <p class="font-semibold">
                                            @TableAvaliar.NOME
                                        </p>
                                    </div>
                                </div>
                            </td>
                            <td style="text-align:center">
                                <span style="text-align:center"> @TableAvaliar.QTDE_AVALIACOES</span>
                            </td>

                            <td style="display: flex; justify-content: center;">
                                <span class="material-icons CorIcon" id="mod alHiden"
                                      style="margin-top: 15px;  font-size: 30px; cursor: pointer; "
                                      onclick="goAvaliacoes('@TableAvaliar.ATLETA_ID', '@TableAvaliar.TREINO_ID','@TableAvaliar.NOME','@idInstrutor');">
                                    add_circle
                                </span>

                            </td>


                            <td class="px-4 py-3">
                                <div class="flex items-center space-x-4 text-sm">
                                    <button style="margin: 0px;"
                                            class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-purple-600 rounded-lg dark:text-gray-400 focus:outline-none focus:shadow-outline-gray"
                                            aria-label="Edit"
                                            onclick="goeditAvaliacao('@TableAvaliar.TREINO_ID','@TableAvaliar.ATLETA_ID','@TableAvaliar.NOME');">
                                        <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
                                            <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z">
                                            </path>
                                        </svg>
                                    </button>
                                    <button style="margin: 0px;"
                                            class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-purple-600 rounded-lg dark:text-gray-400 focus:outline-none focus:shadow-outline-gray"
                                            aria-label="Remove Atleta"
                                            onclick="goRemoveAtletaTreino('@TableAvaliar.ATLETA_ID','@TableAvaliar.TREINO_ID');">
                                        <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
                                            <path fill-rule="evenodd"
                                                  d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                                                  clip-rule="evenodd"></path>
                                        </svg>
                                    </button>

                                    <button style="margin: 0px;"
                                            class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-purple-600 rounded-lg dark:text-gray-400 focus:outline-none focus:shadow-outline-gray"
                                            aria-label="Delete">
                                        <span class="material-icons" 
                                              onclick="goViewCard('@TableAvaliar.ATLETA_ID','@TableAvaliar.TREINO_ID');">
                                            print
                                        </span>
                                    </button>
                                    <button style="margin: 0px;"
                                            class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-purple-600 rounded-lg dark:text-gray-400 focus:outline-none focus:shadow-outline-gray"
                                            aria-label="Delete">
                                        <span class="material-icons">
                                            description
                                        </span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    }
                }
                <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
                </tbody>
            </table>

            <span class="material-icons CorIcon" style="margin-top: 15px;  font-size: 30px; font-weight: 700; cursor: pointer;">
                add
            </span>
        </div>
    </main>

    <script>


        function goViewCard(atletaID, treinoID, instrutorID) {
            window.location = "./ViewCard?atletaID=".concat(atletaID).concat("&treinoID=").concat(treinoID).concat("&instrutorID=").concat(getCookie('idInstrutor'));
        }

        function fecha3() {
            document.getElementById('modal5').style.display = "none";
        }

        function goeditAvaliacao(treino, atleta, nome) {
            window.location = "./editAvaliacao?idTreino=".concat(treino).concat("&idAtleta=").concat(atleta).concat("&NomeAtleta=").concat(nome);
        }

        function goAvaliacoes(ATLETA_ID, treino_id, nome) {
            @*window.location = "./Avaliacoes?TREINO_INSTRUTOR_ID=".concat(@idTreinoInstrutor).concat("&ATLETA_ID=").concat(ATLETA_ID).concat("&NOME=").concat(nome).concat("&TREINO_ID=").concat.(treino_id).concat("&idInstrutor=").concat(@idInstrutor);*@
            window.location = "./Avaliacoes?TREINO_INSTRUTOR_ID=".concat(@idTreinoInstrutor).concat("&ATLETA_ID=").concat(ATLETA_ID).concat("&NOME=").concat(nome).concat("&TREINO_ID=").concat(treino_id).concat("&idInstrutor=").concat(@idInstrutor);
        }

        function goRemoveAtletaTreino(ATLETA_ID, treino_id) {

            const o = new Object();
            o.treinoID = treino_id;
            o.atletaID = ATLETA_ID;

            $.ajax({
                context: this,
                url: '/Home/DelTreinoAtleta',
                type: 'POST',
                data: JSON.stringify(o),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                beforeSend: function () {
                    Notiflix.Loading.dots('Aguarde...');
                },
                success: function (data) {
                    Notiflix.Loading.remove();
                    const returnData = JSON.parse(data);
                    if (returnData.data !== false) {
                        ShowError(data);
                    }
                    document.location.reload(true);
                    return;
                },
                error: function (data) {
                    Notiflix.Loading.remove();
                    ShowError(data);
                }
            });

        }


    </script>
</body>

</html>