@page
@using AppTreinoCarlos.Models
@using AppTreinoCarlos.Utils
@model AppTreinoCarlos.Pages.EditAvaliacaoModel
@{
    List<Avaliacao> EditaAvalicao = (List<Avaliacao>)ViewData["Avaliacoes"];
    string NomeAtleta = ViewData["Atleta"].ToString();

}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="shortcut icon" href="~/img/favicon.png" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&amp;display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/tailwind.output.css">
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer=""></script>
    <script src="../assets/js/init-alpine.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>

<body style="display: flex;">
    <br>
    <main class="h-full pb-16 overflow-y-auto">
        <div class="container px-6 mx-auto grid" style="margin-left: auto; margin-right: auto;">
            <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
                Editar Avaliações
                <br />
                <span class="my-0 font-semibold text-gray-500  dark:text-gray-200" style="font-size: small">
                    @NomeAtleta
                </span>
            </h2>
        
            <table class="w-full whitespace-no-wrap" style="width: 70%;">
                <thead>
                    <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                        <th class="px-4 py-3">Tópicos</th>
                        <th class="px-4 py-3">Estrelas</th>
                        <th class="px-4 py-3"></th>
                        <th class="px-4 py-3"></th>

                    </tr>
                </thead>
                <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
                    @if (EditaAvalicao != null)
                    {
                        foreach (Avaliacao TableEditAvalicaoes in EditaAvalicao)
                        {
                            <tr class="text-gray-700 dark:text-gray-400">
                                <td>
                                    <div class="flex items-center text-sm">
                                        <!-- Avatar with inset shadow -->
                                        <div class="relative hidden w-8 h-8 mr-3 rounded-full md:block">
                                            <span class="material-icons"
                                                  style="font-size: 35px; display: flex; justify-content: center;">
                                                account_circle
                                            </span>
                                            <div class="absolute inset-0 rounded-full shadow-inner" aria-hidden="true">
                                            </div>
                                        </div>
                                        <div>
                                            <p class="font-semibold">
                                                @TableEditAvalicaoes.TOPICO_DESCRICAO
                                            </p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="estrelas" name="estrelas" id="">
                                        <input type="radio" id="cm_star-empty" name="fb" value="0" />
                                        <label for="cm_star-1"><i class="fa"></i></label>
                                        <input type="radio" id="cm_star-1" name="fb" value="@TableEditAvalicaoes.Nota" />
                                        <label for="cm_star-2"><i class="fa"></i></label>
                                        <input type="radio" id="cm_star-2" name="fb" value="@TableEditAvalicaoes.Nota" />
                                        <label for="cm_star-3"><i class="fa"></i></label>
                                        <input type="radio" id="cm_star-3" name="fb" value="@TableEditAvalicaoes.Nota" />
                                        <label for="cm_star-4"><i class="fa"></i></label>
                                        <input type="radio" id="cm_star-4" name="fb" value="@TableEditAvalicaoes.Nota" />
                                        <label for="cm_star-5"><i class="fa"></i></label>
                                        <input type="radio" id="cm_star-5" name="fb" value="@TableEditAvalicaoes.Nota" />
                                    </div>
                                </td>

                                <td><span class="material-icons CorIcon">save</span></td>

                                <td class="px-4 py-3">
                                    <div class="flex items-center space-x-4 text-sm">
                                        <button style="margin: 0px;"
                                                class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-purple-600 rounded-lg dark:text-gray-400 focus:outline-none focus:shadow-outline-gray"
                                                aria-label="Delete">
                                            <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
                                                <path fill-rule="evenodd"
                                                      d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                                                      clip-rule="evenodd">
                                                </path>
                                            </svg>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </main>
    <script>


    </script>
</body>

</html>
